.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .btn-block {
   margin-top: 30px;
 }

 .btn-xl {
     padding: 40px 20px;
     font-size: 20px;
     border-radius: 10px;
     border: 2px;
 }

 .btn-xl:hover {
   border
 }

.img-block {
  margin-top: 30px;
  margin-bottom: 5px;
}

body {
  background-image: url("./../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #424242;
  color: white;
  text-align: center;
  z-index: 2; }
